<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Attendance</a>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <% if (_user) { %>
          <li class="nav-item active">
              <a class="nav-link" href="/student">Registration Data</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/link">Link Classes</a>
          </li>
          <% } else {%>
          <li class="nav-item active">
              <a class="nav-link" href="/register"> Register </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/login"> Login </a>
          </li>
          <% } %>
      </ul>

      <% if (_user) {%>
      <a style="color:white" href="/logout"> <%= _user.email %> </a>
      <%} %>
</nav>

<%
  _err.forEach( (e) => {
%>

<p style="background-color:red"> <%= e %> </p>

<%
  });
%>
