<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <h1>Section <%= sectionId %></h1>
      <h2>Meetings</h2>
      <ul class="list-group">
        <li class="list-group-item">I am a meeting</li>
      </ul>
    </div>
  </body>
</html>
